.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-image: linear-gradient(hotpink, yellow);
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

button {
  background-color: darkgray;
  border-radius: 1em;
  margin: 1em;
  color: white;
  padding: 0.5em;
  box-shadow: 0.12em;
  cursor: pointer;
}

.output {
  display: flex;
  flex-direction: column;
  width: 10em;
}

ul {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}

li {
  width: 6em;
  list-style-type: none;
  border: 1px solid gainsboro;
  padding: 1em;
}

a {
  text-decoration: none;
  color: whitesmoke;
}

a:visited {
  color: white;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
